flask==3.1.0
celery==5.4.0
redis==5.2.1
pandas==3.0.2
openpyxl==3.1.5
python-dotenv==1.0.1
debugpy==1.8.0
flask-cors==6.0.2
logging==0.4.9.6
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.10
flask-migrate==4.1.0